<mat-card class="mat-elevation-z24" style="margin: 2rem; padding: 1rem">
	<h1 style="text-align: center">Edit Employee</h1>
	<mat-divider />

	<form [formGroup]="formGroup" style="padding: 1rem; text-align: center">
		<mat-form-field appearance="fill">
			<mat-label>First Name</mat-label>
			<input [formControl]="formGroup.controls.firstName" aria-label="First Name" matInput type="text" />
		</mat-form-field>
		<br />
		<mat-form-field appearance="fill">
			<mat-label>Last Name</mat-label>
			<input [formControl]="formGroup.controls.lastName" aria-label="Last Name" matInput type="text" />
		</mat-form-field>
		<br />

		<mat-form-field appearance="fill">
			<mat-label>Email</mat-label>
			<input [formControl]="formGroup.controls.email" aria-label="Email" matInput type="email" />
		</mat-form-field>
		<br />

		<mat-form-field appearance="fill">
			<mat-label>Phone</mat-label>
			<input [formControl]="formGroup.controls.phone" aria-label="Phone" matInput type="text" />
		</mat-form-field>
		<br />

		<mat-form-field appearance="fill">
			<mat-label>Age</mat-label>
			<input [formControl]="formGroup.controls.age" aria-label="Age" matInput type="number" />
		</mat-form-field>

		<br />
		<button (click)="updateEmployee()" class="btn btn-primary" color="primary" mat-raised-button type="submit">Update</button>
	</form>
</mat-card>
